@import "tailwindcss/utilities";
@import "tailwindcss";

@layer base {
  :root {
    --background: theme(colors.white);
    --foreground: theme(colors.gray.900);
    --muted: theme(colors.gray.100);
    --muted-foreground: theme(colors.gray.600);
    --border: theme(colors.gray.200);
    --input: theme(colors.gray.200);
    --primary: theme(colors.gray.900);
    --primary-foreground: theme(colors.gray.100);
    --secondary: theme(colors.gray.100);
    --secondary-foreground: theme(colors.gray.900);
    --accent: theme(colors.gray.100);
    --accent-foreground: theme(colors.gray.900);
    --destructive: theme(colors.red.500);
    --destructive-foreground: theme(colors.white);
    --ring: theme(colors.gray.400);
    --radius: 0.5rem;
  }

  .dark {
    --background: theme(colors.gray.900);
    --foreground: theme(colors.gray.100);
    --border: theme(colors.gray.800);
    --input: theme(colors.gray.800);
    --primary: theme(colors.white);
    --primary-foreground: theme(colors.black);
    --secondary: theme(colors.gray.800);
    --secondary-foreground: theme(colors.white);
    --destructive: theme(colors.red.700);
    --destructive-foreground: theme(colors.white);
    --ring: theme(colors.gray.700);
  }
}



a {
  @apply font-medium text-blue-600 hover:text-blue-500;
}

button {
  @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium transition-colors;
}

button:hover {
  @apply border-blue-600;
}
